/*  typography */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 18px;
  line-height: 1.8;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $text-color-dark;
  }
}


a.h1 {
  font-size: 35px;
}

a.h5 {
  font-size: 20px;
  font-weight: bold;
}

.article {
  h1, .h1{
    font-size: 40px;
  }
  h2, .h2{
    color: $secondary-b-color;
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-size: 28px;
    padding-left: 0.8em;
    border-left: 6px solid $secondary-a-color;
  }
  h3, .h3{
    margin-top: 2em;
    font-size: 24px;
  }
  h4, .h4{
    margin-top: 2em;
    font-size: 22px;
  }
  h5, .h5{
    font-size: 18px;
  }
  h6, .h6{
    font-size: 16px;
  }
}


h1.caption, h2.caption {
  color: $text-color-dark;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  border-left: none;
}