// Color Variables
$primary-color: #FF6D33;
$sub-color: #333333;
$text-color: #bbbbbb;
$text-color-dark: #efefef;
$text-color-light: #959595;
$body-color: #2b2b2b;
$parts-back-color: #3b3b44;
$table-border-color: #595e67;

$border-color: #ACB9C4;
$post-meta-color: #cdcdcd;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';